Flask
Werkzeug
Jinja2
MarkupSafe
itsdangerous
click
blinker
Pillow
python-dotenv
pymongo
bcrypt
dnspython
certifi
flask-session
torch
torchvision
ultralytics
opencv-python
numpy
scipy
google-generativeai
langchain
langchain-google-genai
langchain-community
SpeechRecognition
pyttsx3
PyPDF2
python-magic-bin
deep-translator
requests
httpcore